<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.facia.faciasdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/Theme.Facia"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".Activity.FaciaVerify"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>